// Body
$body-bg: #f8fafc;

// Colors
$blue: #659fb0;
$indigo: #6574cd;
$purple: #a05459;
$pink: #f66D9b;
$red: #e3342f;
$orange: #e79f5c;
$yellow: #ffd146;
$green: #acbc65;
$teal: #4dc0b5;
$cyan: #57c6d1;

$dark: #545e6a;
$navbar-dark-color: #fff;
