
// Fonts
@import 'typography';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

.main-content {
    margin-top: 30px;
}

.card-img-serie {
    object-fit: cover;
    width: 100%;
    height: 175px;
}

.fas.fa-heart {
    color: $red;
}
.fas.fa-star {
    color: $yellow;
}

